{% extends 'base.html' %}
{% load static %}
{% block extra-styles %}
<link rel="stylesheet" href="{% static 'css/__style.css' %}" />
{% endblock %}
{% block content %}

  <section class="banner">
    <div class="banner-content">
      <h1>Contact Us</h1>
    </div>
  </section>

<section class="contactUs">
    <div class="row">
        <div class="contactCol">
          <h2>Our Contact Information</h2>
            <div>
                <i class="fa fa-home"></i>
                <span>
                    <h5>XYZ Road, Abc Building</h5>
                    <p>Dhanmondi, Dhaka, Bangladesh</p>
                </span>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <span>
                    <h5>+8801723456789</h5>
                    <p>Sunday to Thursday, 11AM to 6PM</p>
                </span>
            </div>
            <div>
                <i class="fa fa-envelope-o"></i>
                <span>
                    <h5>uiuxwip@gmail.com</h5>
                    <p>Email us your query.</p>
                </span>
            </div>
        </div>
        <div class="contactCol">
            <h2>Fill This to Send us a message!</h2>
            <form type="submit">
                <input type="text" name="name" placeholder="Enter Your Name" required>
                <input type="email" name="email" placeholder="Enter Your Email" required>
                <input type="text" name="subject" placeholder="Enter Your Subject" required>
                <textarea rows="8" name="message" placeholder="Message"></textarea>
                <button type="submit" class="hero-btn red-btn">Send Message</button>
            </form>
        </div>
    </div>
</section>
<section class="location">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14607.59915521094!2d90.3654215!3d23.750952700000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1689433294314!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>

{% endblock %}




