{% extends 'base.html' %}
{% load static %}
{% block extra-styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
{% endblock %}

{% block title %}Product Details{% endblock %}

{% block content %}
    <div>
        <h1>Product Details</h1>
        <p>Name: {{ product.name }}</p>
        <p>ID: {{ product.id }}</p>
        <p>Description: {{ product.description }}</p>
        <p>Price: {{ product.price }}</p>
        <p>Quantity: {{ product.quantity }}</p>
        <p>Manufacturer: {{ product.manufacturer.name }}</p>
        <p>Category: {{ product.category.name }}</p>

        <a href="{% url 'product_list' %}" >Go Back to list</a>
    </div>
{% endblock %}
